<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  <p>
  http://www.apache.org/licenses/LICENSE-2.0
  <p>
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<section class="content--row">
    <div class="row">
        <!-- 文章内容 -->
        <div class="col-md-9">
            <div class="card">
                <!-- 文章用户信息 -->
                <div *ngIf="article" class="card-header border-b-1 px-4 py-3">
                    <div class="card-block d-flex py-3">
                        <div class="mr-auto">
                            <h5>
                                {{ article?.title }}
                                <span *ngIf="(currentDay| date:'yyyyMMdd') === (article.createTime | date:'yyyyMMdd')" class="badge badge-pill badge-danger">新</span>
                                <span *ngIf="article.articleType.id === 1" class="badge badge-pill badge-success">原</span>
                                <span *ngIf="article.articleType.id === 2" class="badge badge-pill badge-info">转</span>
                            </h5>
                        </div>
                        <!-- 赞功能 -->
                        <div class="ml-4">
                            <div *ngIf="currentUser && currentUser?.id !== article?.user.id; else showfabulousNotCLick">
                                <ng-container *ngIf="fabulousStatus; else showfabulous">
                                    <button type="button" class="btn btn-success btn-sm" tooltip="对该文章点赞" placement="bottom" container="body" (click)="fabulous()">
                                        <span>
                                            <i class="zmdi zmdi-thumb-up zmdi-hc-fw"></i>
                                            <span>{{article.fabulouCount}}</span>
                                        </span>
                                    </button>
                                </ng-container>
                                <ng-template #showfabulous>
                                    <button type="button" class="btn btn-success btn-sm" tooltip="取消对该文章的赞" placement="bottom" container="body" (click)="unFabulous()">
                                        <span>
                                            <i class="zmdi zmdi-thumb-up-down zmdi-hc-fw"></i>
                                            <span>{{article.fabulouCount}}</span>
                                        </span>
                                    </button>
                                </ng-template>
                            </div>
                            <ng-template #showfabulousNotCLick>
                                <button type="button" class="btn btn-success btn-sm disabled" tooltip="用户对该文章赞的总数据" container="body" placement="bottom">
                                    <span>
                                        <i class="zmdi zmdi-thumb-up zmdi-hc-fw"></i>
                                        <span>{{article.fabulouCount}}</span>
                                    </span>
                                </button>
                            </ng-template>
                        </div>
                        <!-- 收藏功能 -->
                        <!-- <div class="ml-4">
                            <div class="btn btn-outline-info btn-icon btn-sm disabled">
                                <a href="">
                                    <i class="fa fa-share-alt"></i>
                                </a> |
                                <a href="">
                                    <span>0</span>
                                </a>
                            </div>
                        </div> -->
                        <!-- 访问量 -->
                        <div class="ml-4">
                            <button type="button" class="btn btn-success btn-sm" tooltip="该文章访问总数据" container="body" placement="bottom">
                                <span>
                                    <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
                                    <span>{{article.viewCount}}</span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <div class="user-sm">
                                <div class="article__user__info">
                                    <img class="article__user__img" src="{{ article.user.avatar }}" alt="">
                                    <div class="article__user__name">
                                        <a [routerLink]="['/account', article.user.username, 'info']">{{ article.user.username }}</a> - {{ article.createTime | date:'yyyy年MM月dd日HH:mm:ss'
                                        }} 发布</div>
                                    <!-- 文章标签 -->
                                    <div class="card-block ml-10">
                                        <span *ngFor="let articleTag of article.articleTags" class="badge badge-success ml-2">{{articleTag.title}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 文章内容信息 -->
                <div class="card-body border-b-1">
                    <p class="mb-0">
                        <span *ngIf="article; else loadingData">
                            <wikift-editor id="editormd-{{article.id}}" markdown="{{article.content}}" [tocId]="'#wikift-toc-container'" [preview]="'true'"></wikift-editor>
                        </span>
                        <ng-template #loadingData>
                            数据加载中...
                        </ng-template>
                    </p>
                </div>
                <!-- 文章附属信息 -->
                <div class="card-footer d-flex px-4 py-3">
                    <div class="mr-auto">
                        该文章由用户
                        <a *ngIf="article?.user" [routerLink]="['/account', article.user.username, 'info']">{{ article.user.username }}</a> 于 {{ article?.createTime | date:'yyyy年MM月dd日HH:mm:ss' }} 发布&nbsp;
                        <div *ngIf="currentUser?.id === article?.user.id" dropdown class="d-none d-sm-inline-block">
                            <a dropdownToggle class="top-nav__notify">
                                <i class="zmdi zmdi-more"></i>
                            </a>
                            <!-- 文章操作工具 -->
                            <div *dropdownMenu class="dropdown-menu dropdown-menu-left">
                                <a [routerLink]="['/article/', article.id, 'editor']" class="dropdown-item">
                                    <i class="zmdi zmdi-edit"></i>
                                    <small> 编辑该文章</small>
                                </a>
                                <a (click)="deleteArticle()" class="dropdown-item">
                                    <i class="zmdi zmdi-delete"></i>
                                    <small> 删除该文章</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 文章属性 -->
        <div class="col-md-3">
            <!-- 文章作者 -->
            <div class="card">
                <div class="card-body">
                    <div *ngIf="article" class="card-header px-4 py-3">
                        <div class="card-block d-flex">
                            <div class="mr-auto d-flex justify-content-center flex-wrap p-2">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="user-sm">
                                            <div class="article__user__info mr-auto">
                                                <img class="article__user__img" src="{{article.user.avatar}}" alt="{{article.user.username}}">
                                                <div class="article__user__name">
                                                    <a [routerLink]="['/account', article.user.username, 'info']">{{article.user.username}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-4">
                                <div *ngIf="currentUser">
                                    <div *ngIf="isFollow; else unfollowUser" class="d-flex justify-content-center flex-wrap p-2">
                                        <a class="btn btn-success btn-sm m-2" [ngClass]="{'disabled': currentUser?.id === article?.user.id}" (click)="follow()">
                                            <i class="zmdi zmdi-account zmdi-hc-fw mr-1"></i>关注该用户
                                        </a>
                                    </div>
                                    <ng-template #unfollowUser>
                                        <div class="d-flex justify-content-center flex-wrap p-2">
                                            <a class="btn btn-success btn-sm m-2" (click)="unfollow()">
                                                <i class="zmdi zmdi-account zmdi-hc-fw mr-1"></i>取消关注该用户
                                            </a>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 文章专栏/空间 -->
            <div class="card">
                <div class="card-body">
                    <div *ngIf="article" class="card-header px-4 py-3">
                        <div class="card-block d-flex">
                            <div class="mr-auto d-flex justify-content-center flex-wrap p-2">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="user-sm">
                                            <div class="article__user__info mr-auto">
                                                <img class="article__user__img" src="{{article.space.avatar}}" alt="{{article.space.name}}">
                                                <div class="article__user__name">
                                                    <a>{{article.space.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-4">
                                <button [routerLink]="[ '/space/', article.space.code, 'display']" class="contacts__btn ">进入空间</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 文章目录 -->
            <div class="card">
                <div class="card-header border-b-1 px-4 py-3 mr-center">
                    <div class="card-block">
                        <h2 class="card-title">文章目录</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="markdown-body editormd-preview-container-article" style="height:430px" id="wikift-toc-container"></div>
                </div>
            </div>
        </div>
    </div>
</section>