/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * <p>
 * http://www.apache.org/licenses/LICENSE-2.0
 * <p>
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.navbar-nav {
    .nav-link {
      display: flex;
      position: relative;
      align-items: center;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    
    .nav-icon {
      font-size: 1.38rem;
    }
  
    .nav-caret { 
      margin-left: .25rem;
    }
  
    .nav-img {
      width: 24px;
      height: auto;
      border-radius: 3px;
    }
  
    .dropdown-item-icon {
      width: 1.25rem;
      height: .875rem;
    }
    
    .nav-link > .badge {
      font-size: .625rem;
      position: absolute;
      bottom: 16px;
      right: 14px;
    }
  
    .avatar .badge {
      position: absolute;
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      right: -8px;
    }
  
    .dropdown-menu-cap .btn {
      padding: .15rem .75rem;
    }
  
    @include media-breakpoint-down(md) {
      &:first-child { float: left; }
      &:last-child { float: right; }
  
      .nav-item { position: static; }
      .arrow { display: none !important; }
      .nav-item { border: none; }
  
      .navbar-expand-lg & {
        flex-direction: row;
        .dropdown-menu {
          position: absolute;
          border-radius: 0;
          margin-top: 0;
          width: 100%;
          top: 100%;
        }
      }
    } // end media query
  }
  
  .navbar-toggler {
    // @include reset-input;
    padding: 0 .75rem;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    &:focus { outline: none; }
  }